
body {
    font-size: 35px;
}

.game-board {
    margin: 20% auto;
    width: 290px;
    height: 290px;
    display: flex;
    justify-content: center;
     
    /*border*/
    border: inset 20px #cacaca;
}

.flex div {
    display: flex;
    width: 35px;
    height: 35px;
    background-color: #cacaca;
    flex-direction: row;
    
    /*border*/
    border-style: none dotted dotted none;
    border-color: black;
    border-width:1px;

    /*text*/
    text-align: center;
    align-items: center;
    justify-content: center;
}

.valm {
    background:url("../img/naval-mine.png") 0 0 no-repeat;
    background-size: 35px 35px;

    /* hidden text */
    text-indent:-99999em;
    width: 35px;
    height: 35px;
}

.val1 {
    color: blue;
}

.val2 {
    color: limegreen;
}

.val3 {
    color: red;
}

.val4 {
    color: brown;
}

.val0 {
    /* hidden text */
    text-indent:-99999em;
}



 .noclicked div{
    position:absolute;
    width:29px;
    height:29px;
    /*border*/
    border: outset 5px #cacaca;
    border-color: black;
    font-size: 0;
    background-size: 0 0;
}

.noclicked div:hover{
    font-size: 35px;
    background-size: 35px 35px;
    


}

