.img2-mi{
    color: #fff;
    text-indent: -9999px;
    background: url("../img/naclicked valmine.png") no-repeat;
    background-size: 25px 25px;
    height: auto;
    border: solid black 1px;
    padding: 2px;
    }


    /*
.noclicked val:hover {
    background-color: rgb(190, 190, 190);
    display:block;
    height: 35px; /* your image height */
    /*text-indent:-99999em; */
    width: 35px; /* your image width */
    overflow:hidden;
    border: dashed black 1px;
    text-align: center;
    font-size: 35px;
    
} */
.noclicked + .valm {
    background-image: none;
    background-color: gray;
    background-size: 25px 25px;
    display:block;
    height: 35px; /* your image height */
    text-indent:-99999em;
    width: 35px; /* your image width */
    overflow:hidden;
    border: solid black 1px;
    border-radius: 2px;
    text-shadow: 2px 2px 4px #000000;
}

.noclicked + .val3 {
    background-image: none;
    background-color: gray;
    background-size: 25px 25px;
    display:block;
    height: 35px; /* your image height */
    text-indent:-99999em;
    width: 35px; /* your image width */
    overflow:hidden;
    border: solid black 1px;
    border-radius: 2px;
    text-shadow: 2px 2px 4px #000000;
}





.noclicked val:hover .img-two:hover {
    background-color: lightgray;
    background-size: 25px 25px;
    display:block;
    height: 35px; /* your image height */
    /*text-indent:-99999em; */
    width: 35px; /* your image width */
    overflow:hidden;
    border: dashed black 1px;
    text-align: center;
    font-size: 35px;
    color: limegreen;
}


.noclicked {
    background-color: gray;
    background-size: 25px 25px;
    display:block;
    height: 35px; /* your image height */
    text-indent:-99999em;
    width: 35px; /* your image width */
    overflow:hidden;
    border: solid black 1px;
    border-radius: 2px;
    text-shadow: 2px 2px 4px #000000;
}

.noclicked val:hover {
    background-color: rgb(190, 190, 190);
    display:block;
}


.noclicked .val2:hover {
    background-color: lightgray;
    background-size: 25px 25px;
    display:block;
    height: 35px; /* your image height */
    /*text-indent:-99999em; */
    width: 35px; /* your image width */
    overflow:hidden;
    border: dashed black 1px;
    text-align: center;
    font-size: 35px;
    color: limegreen;
}



.noclicked + .valm {
    background-image: none;
    background-color: gray;
    background-size: 25px 25px;
    display:block;
    height: 35px; /* your image height */
    text-indent:-99999em;
    width: 35px; /* your image width */
    overflow:hidden;
    border: solid black 1px;
    border-radius: 2px;
    text-shadow: 2px 2px 4px #000000;

}
.noclicked + .val2 {
    background-image: none;
    background-color: gray;
    background-size: 25px 25px;
    display:block;
    height: 35px; /* your image height */
    text-indent:-99999em;
    width: 35px; /* your image width */
    overflow:hidden;
    border: solid black 1px;
    border-radius: 2px;
    text-shadow: 2px 2px 4px #000000;
}


.noclicked + .valm {
    background-image: none;
    background-color: gray;
    background-size: 25px 25px;
    display:block;
    height: 35px; /* your image height */
    text-indent:-99999em;
    width: 35px; /* your image width */
    overflow:hidden;
    border: solid black 1px;
    border-radius: 2px;
    text-shadow: 2px 2px 4px #000000;
    opacity: 0;
}

.noclicked:hover{
    opacity: 1;
}

.noclicked + .val3 {
    background-image: none;
    background-color: gray;
    background-size: 25px 25px;
    display:block;
    height: 35px; /* your image height */
    text-indent:-99999em;
    width: 35px; /* your image width */
    overflow:hidden;
    border: solid black 1px;
    border-radius: 2px;
    text-shadow: 2px 2px 4px #000000;
}

