
.cadre1 {
    background-color: gray;
    font-family: Courier;
}

.cont-mine {
    margin: auto;
    width: 350px;
    height: 340px;
    background: lightgray;
    margin: auto;
    border: solid black 1px;
    padding: 0px;
    box-shadow: 2px 2px 4px gray, 2px 2px 4px gray, 2px 2px 4px gray, 2px 2px 4px gray;
  }

.minepoz {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.box {
    display: flex;
    flex-wrap: wrap;
}
.box>* {
    flex: 1 1 35px;    
}

/* try to replace char to pic/icon*/

.valm {
    background:url("../img/naval-mine.png") 0 0 no-repeat;
    background-size: 35px 35px;
    display:block;
    height:35px; /* your image height */
    text-indent:-99999em; 
    width:35px; /* your image width */
    overflow:hidden;
}

.val1 {
    background-color: lightgray;
    background-size: 35px 35px;
    display:block;
    height: 35px; /* your image height */
    /*text-indent:-99999em;  */
    width: 35px; /* your image width */
    overflow:hidden;
    text-align: center;
    font-size: 35px;
    color: blue;
}

.val2 {
    background-color: lightgray;
    background-size: 25px 25px;
    display:block;
    height: 35px; /* your image height */
    /*text-indent:-99999em; */
    width: 35px; /* your image width */
    overflow:hidden;
    text-align: center;
    font-size: 35px;
    color: limegreen;
}

.val3 {
    background-color: lightgray;
    background-size: 25px 25px;
    display:block;
    height: 35px; /* your image height */
    /*text-indent:-99999em; */
    width: 35px; /* your image width */
    overflow:hidden;
    text-align: center;
    font-size: 35px;
    color: red;
}

.val4 {
    background-color: lightgray;
    background-size: 25px 25px;
    display:block;
    height: 35px; /* your image height */
    /*text-indent:-99999em; */
    width: 35px; /* your image width */
    overflow:hidden;
    text-align: center;
    font-size: 35px;
    color: brown;
}

.val0 {
    background-color: lightgray;
    background-size: 25px 25px;
    display:block;
    height: 35px; /* your image height */
    text-indent:-99999em;
    width: 35px; /* your image width */
    overflow:hidden;
}

.clicked {
    border: dashed black 1px;
}

.noclicked {
    border: solid black 1px;
    opacity: 0.1;
}

.noclicked:hover {
    opacity: 1;
}

